{
  "linters": {
    "**/*.{md}": [
      "prettier --write",
      "git add"
    ],
    "**/*.{html,js,jsx,json,ts,tsx}": [
      "prettier --write",
      "sortier",
      "git add"
    ]
  },
  "ignore": ["**/package-lock.json"]
}