{
  "linters": {
    "**/*.{md}": [
      "prettier --write",
      "git add"
    ],
    "**/*.{ts,tsx,js,jsx,json,html}": [
      "prettier --write",
      "sortier",
      "git add"
    ]
  },
  "ignore": ["**/package-lock.json"]
}