.sci-react-unstyled-button.override {
    // Box-Sizing
    padding: 14px 40px;
    border-radius: 100px;
    border-width: 0px;
    border-style: solid;

    // Colors
    border-color: #16da00;
    background-color: #15d000;
    color: white;
    
    // Sizes
    font-size: 16px;
    font-family: "Open Sans",X-LocaleSpecific,sans-serif;

    &:hover {
        background-color: #16da00;
    }
}