.sci-react-ui-base-example {

    > * {
        margin-bottom: 20px;
    }

    > .component-example {
        > .visual {
            border: 2px solid lightgrey;
            padding: 20px;
        }
    }

    > .links-section {
        > .list {
            margin: 0px;
        }
    }
}

// Customize the unstyled button
.sci-react-unstyled-button.sci-react-ui-base-example-page-unstyled-button {
    // Box-Sizing
    padding: 14px 40px;
    border-radius: 100px;
    border-width: 0px;
    border-style: solid;

    // Colors
    border-color: #16da00;
    background-color: green;
    color: white;
    
    // Sizes
    font-size: 16px;
    font-family: "Open Sans",X-LocaleSpecific,sans-serif;

    &:hover {
        background-color: darkgreen;
    }
}