.sci-react-ui-base-example-page-dialog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    

    > .styleSelector {
        flex: 0 0 auto;

        display: grid;
        grid-gap: 10px;

        margin-bottom: 10px;

        > * {
            margin-right: 10px;
        }
    }

    // Google layout
    > .sci-react-dialog.google {
        visibility: hidden;
        transition: visibility 250ms;
        > .overlay {
            background-color: rgba(0,0,0,0.5);
            opacity: 0;
            transition: opacity 250ms;

            > .dialog {
                font-family: Roboto,sans-serif;
                border-radius: 2px;
                background-color: white;
                max-height: 50%;
                width: 50%;
                min-width: 320px;
                overflow: auto;
                transform: translateY(-15%);
                transition: transform 250ms;
                box-shadow: 0px 14px 45px rgba(0,0,0,0.25), 0px 10px 18px rgba(0,0,0,0.22);

                > h3 {
                    color: rgba(0, 0, 0, 0.87);
                    line-height: 32px;
                    padding-top: 24px;
                    padding-right: 24px;
                    padding-bottom: 20px;
                    padding-left: 24px;
                    font-size: 22px;
                    font-weight: 400;
                    margin-top: 0px;
                    margin-right: 0px;
                    margin-bottom: 0px;
                    margin-left: 0px;
                }
                > .content {
                    color: rgba(0, 0, 0, 0.6);
                    padding-top: 0px;
                    padding-right: 24px;
                    padding-bottom: 24px;
                    padding-left: 24px;
                    font-size: 16px;
                    border-top-color: currentColor;
                    border-bottom-color: currentColor;
                    border-top-width: medium;
                    border-bottom-width: medium;
                    border-top-style: none;
                    border-bottom-style: none;
                    overflow-y: hidden;
                    max-height: 583px;
                    box-sizing: border-box;
                }
            }
        }

        &.visible {
            visibility: visible;

            > .overlay {
                opacity: 1;

                > .dialog {
                    transform: translateY(0%);
                }
            }
        }
    }

    // Office layout
    > .sci-react-dialog.office {
        visibility: hidden;
        transition: visibility 250ms;
        > .overlay {
            background-color: rgba(0,0,0,0.5);
            opacity: 0;
            transition: opacity 250ms;

            > .dialog {
                font-family: "Segoe UI Web (West European)",Segoe UI,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
                color: #333333;
                background-color: white;
                max-height: 50%;
                width: 50%;
                min-width: 320px;
                overflow: auto;

                > h3 {
                    line-height: 31.5px;
                    padding: 20px 28px;
                    font-size: 21px;
                    font-weight: 100;
                    margin-top: 0px;
                    margin-right: 0px;
                    margin-bottom: 0px;
                    margin-left: 0px;
                }
                > .content {
                    padding: 0px 28px 20px;
                    font-size: 12px;
                }
            }
        }

        &.visible {
            visibility: visible;

            > .overlay {
                opacity: 1;
            }
        }
    }
}
